@import url("https://fonts.googleapis.com/css?family=Poppins|Varela+Round&display=swap");

.Item-container {
  display: flex;
  justify-content: center;
  text-align: start;
  flex-direction: column;
  height: 50vh;
  margin: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
}

.Title {
  font-weight: bold;
  font-size: calc(2vmin);
  width: 50vh;
  font-family: "Poppins", sans-serif;
}

.Image {
  width: 50vh;
  height: 40vh;
  object-fit: cover;
  padding-bottom: 8px;
}

.Description {
  font-size: calc(5px + 1vmin);
  width: 50vh;
  font-family: "Varela Round", sans-serif;
}

.Item-container:hover {
  opacity: 0.9;
  cursor: pointer;
}
